/* @font-face {
    font-family: "didot";
    src: url("../fonts/Didot.ttc") format("opentype")
} */

* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

 /*
 * Give element block that are not block by default.
 * This makes sure the parent div is the exact size of the element.
 */
label,
img,
audio,
video,
canvas,
meter,
progress,
svg,
iframe {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

 table {
    border-collapse: collapse;
    border-spacing: 0;
}

 ol, ul {
    padding: 0;
    list-style: none;
}

 blockquote, q {
	quotes: none;
}

 blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

::-webkit-scrollbar { 
    display: none; 
}   

 html {
    box-sizing: border-box;
}

 html, body {
    min-height: 100vh;
    padding: 0;
}

 body {
    overflow-x: hidden;
    display: flex;
    line-height: 1;
    font-family: "didot";
    color: #2b2b2b;
    background-color: #F2F2F2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

main {
    overflow-x: hidden;
    display: flex;
    flex: 1;
}

h1 {
    margin: 1em;
    margin-right: -1em;
}

section {
    display: flex;
    flex: 1 0;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.photos {
    margin: 2em;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    max-height: 90vh;
    max-width: 40vw;
}

img {
    scroll-behavior: smooth;
    object-fit: fill;
    margin-bottom: 2em;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    flex-shrink: 0;
    z-index: 2;
    cursor: pointer;
}

a {
    cursor: pointer;  
}
